@font-face {
  font-family: "SEBANG";
  src: url("./fonts/SEBANG\ Gothic.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "SEBANG";
  font-style: italic;
}

#container {
  min-width: 600px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#noteImg {
  color: hsl(354, 79%, 76%);
  display: inline;
  margin-right: 5px;
}

time #today {
  color: #ffaacf;
}
